[submodule "CMSIS-DSP"]
	path = CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP.git
[submodule "stm32_proj/CMSIS-DSP"]
	path = stm32_proj/CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP.git
